<ion-content scroll="false" class="intro">
  <ion-slides  options="options" slider="data.slider">


    <ion-slide-page>
      <div class="box blue">
        <h2>Welcome to</h2>
        <h1>Faye Spell</h1>
        
      </div>
    </ion-slide-page>


    <ion-slide-page>
      <div class="box yellow">
        <h1>?</h1>
        <p>Faye Spell is a simple spelling test app.</p>
        <p>Listen to the word and then type it out, it's that easy! You can repeat the word or even have the app say the word in a sentence for some help.</p>
        <p>There's no time limit, so take your time.</p>
      </div>
    </ion-slide-page>


    <ion-slide-page>
      <div class="box pink">
        <h1>Badges?</h1>
        <p>Of course there are badges! Get a perfect score in a test to earn a badge. There is a badge for each length of quiz (I suggest starting with 5 questions).</p>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <a class="button button-full button-positive intro-button" href="#/app/spelling">
          Let's Go!
        </a>

      </div>
    </ion-slide-page>


  </ion-slides>
</ion-content>